In [1]:
import pandas as pd

In [10]:
#concaterate data

years = range(2015, 2019)

pieces = []
columns = ['name', 'sex', 'births']

for year in years:
    path ='yob%d.txt' %year
    frame = pd.read_csv(path, names = columns)
    
    frame['year'] = year
    pieces.append(frame)
    
names = pd.concat(pieces, ignore_index = True)

(130754, 4)

In [12]:
names.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130754 entries, 0 to 130753
Data columns (total 4 columns):
name      130754 non-null object
sex       130754 non-null object
births    130754 non-null int64
year      130754 non-null int64
dtypes: int64(2), object(2)
memory usage: 4.0+ MB

In [11]:
# sum of births by sex
names.groupby('sex').births.sum()

sex
F    6952764
M    7446351
Name: births, dtype: int64

In [22]:
# aggregate data at year and sex level

total_birts = names.pivot_table('births', columns = 'sex', aggfunc = sum)
total_birts

sex           F        M
births  6952764  7446351

Data Source: https://www.ssa.gov/oact/babynames/limits.html